.form-container {
    width: 500px;
    height: 600px;
    margin: 20px auto;
    border: 1px solid #95a0a7;
    border-radius: 8px;
    padding-left: 40px;
}

.form-title {
    Font-family: 'Lato';
    font-style: 'normal';
    font-size: 35px;
    font-weight: 400;
    Line-height: 42px;
    Letter-spacing: 0.25%;
    color: #2a414f;
    text-align: center;
}
.form-control{
    margin-bottom: 20px;
}

.form-control label {
    display: block;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 10px;
    line-height: 20px;
    letter-spacing: 0.0015em;
    color: #2a414f;

}

.form-control input {
    height: 45px;
    width: 415px;
    border: 1px solid #95a0a7;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 1.5em;

}
.btn-submit{
    height: 45px;
width: 415px;
left: 526px;
top: 549px;
border: none;
border-radius: 5px;
background-color: rgba(255, 153, 0, 0.3);
font-size: 21px;
margin-top: 20px;
line-height: 25px;
letter-spacing: 0.0015em;

}
.btn-submit:hover{
    background-color: rgba(255, 153, 0, 0.6);
}